<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Info</title>
    <link rel="stylesheet" href="info.css">
  </head>
  <body>
    <div class="container">
      <div class="row text-center logo">
        <span class="logo-first">Track</span>
        <span class="logo-second">Money</span>
      </div>
      <div class="row info text-center">
        Please enter your personal imformation.
      </div>
      <div class="row input-group">
        <label for="name">username</label>
        <div class="row text-center">
          <input type="text" name="name" value="" id="name">
        </div>
      </div>
      <div class="row input-group">
        <label for="name">current money</label>
        <div class="row text-center">
          <input type="text" name="name" value="" id="amont">
        </div>
      </div>
      <div class="row text-right">
        <br>
        <a type="button" href="#" class="btn submit-btn" id="info_submit">Start Using</a>
      </div>
    </div>
  </body>
  <script src="../Model/User.js" charset="utf-8"></script>
  <script src="app.js" charset="utf-8"></script>

</html>
